.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerSnack {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerSnack * {
    margin: 10px;
}

.panelSnack {
    background-color: aquamarine color: black;
}