footer {
  width: 100%;
  background-color: #3f51b5;
  color: white;
  text-align: center;
  z-index: 9999;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: absolute;
  bottom: 0;*/
}
