<div>
  <div [@enterAnimation]>
    <h1 capicuarepoEmoji>Photo list with emoji directive</h1>

    <button mat-raised-button [color]="'success'" (click)="this.addPhoto()">
      <mat-icon>add_circle</mat-icon> Add
    </button>
    <br />
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
    <table
      mat-table
      [dataSource]="this.dataSource"
      matSort
      class="mat-elevation-z8"
    >
      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <strong>Id. </strong>
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="stripper(i)"
          class="tdId"
        >
          {{ element.id }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="albumId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <strong>Album Number</strong>
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="stripper(i)"
          class="tdAlbumId"
        >
          <mat-icon matBadge="{{ element.albumId }}" matBadgeColor="warn"
            >folder</mat-icon
          >
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <strong>Title</strong>
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="stripper(i)"
          class="tdTitle"
        >
          {{ element.title }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <strong>Url</strong>
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="stripper(i)"
          class="tdUrl"
        >
          <a href="{{ element.url }}">{{ element.url }}</a>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="thumbnailUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <strong>Avatar</strong>
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="stripper(i)"
          class="tdThumbnailUrl"
        >
          <img src="{{ element.thumbnailUrl }}" alt="" />
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td
          mat-cell
          class="tdActions"
          *matCellDef="let element; let i = index"
          [ngClass]="stripper(i)"
        >
          <mat-icon
            class="mat-18 blueIcon button"
            (click)="this.seeMore(element)"
            matTooltip="See details"
            >remove_red_eye</mat-icon
          >
          <mat-icon
            class="mat-18 orangeIcon button"
            (click)="this.seeMore(element)"
            matTooltip="Edit element"
            >edit</mat-icon
          >
          <mat-icon
            class="mat-18 redIcon button"
            (click)="this.deletePhoto(element.id)"
            matTooltip="Delete element"
            >delete</mat-icon
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
