table {
  width: 100%;
}

.mat-form-field {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.cellNumber {
  text-align: end;
}

.cellText {
  text-align: center;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}
